header {
    background: url("images/propiedades-agua.jpg");
    background-repeat: no-repeat;
}

#logo-container {
    display: flex;
    flex-direction: column;
}

#geyag-logo {
    max-width: 903px;
}